body {
    font-family: Arial, sans-serif;
    background: gray;
    margin: 20px;
}

h1 {
    color: midnightblue;
    text-align: center;
}

ul {
    list-style: none;
    width: 200px;
    margin: 20px 0 20px 0px;
    padding: 0;
}

a {
    display: block;
    padding: 10px;
    margin: 5px 0;
    background: white;
    text-decoration: none;
    color: dodgerblue;
    border-radius: 4px;
    text-align: center;
}

a:hover {
    background: dodgerblue;
    color: white;
}
